body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(34, 134, 234);
}

/* Home */

.container {
  max-width: 960;
}

.card {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border: 1px solid #eee;
  overflow: hidden;
  border-radius: 5px;
}

.card:hover {
  box-shadow: 1px 1px 5px #999;
}

.card-img {
  display: block;
  height: 100%;
}

.card-tag {
  margin-right: 0.5em;
  /* change color */
  color: white;
  background: mediumaquamarine;
  padding: 0.3em 0.5em;
  border-radius: 50px;
}

/* Post */

.placeholder {
  height: 366px;
  background-color: #eee;
}

article {
  margin: 0 auto;
  max-width: 650px;
}

/* About */

.about-header {
  text-align: center;
}

.about-avatar {
  height: 150px;
  width: auto;
  border-radius: 10px;
  border: 5px solid rgb(247, 129, 115);
}

.about-author {
  margin-bottom: 72px;
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
  background: #108db8;
}

nav a {
  color: white;
  padding: 1rem;
  display: inline-block;
}

.content {
  padding: 1rem;
}
